$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower


@import "compass";

.header {
  .nav {
    padding-top: 10px;
  }
  .bottom-border {
      margin: 20px 0 20px 0;
      height: 1px;
      @include background(linear-gradient(right, #000, #fff));
  }
}

.panel {
  @include border-radius(3px);
  background-color: #8c8c8c;
  padding: 0;
  z-index: 100;

  .panel-header {
    background-color: #575757
  }

  .panel-arrow {
    @extend .btn;
  }

  .panel-header, .panel-arrow {
    z-index: 100;
  }

  .panel-body {
    position: relative;
    z-index: 99;
  }
}
